VITE_SUPABASE_URL=https://pfogzrlnsfrpkyqnxpzy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBmb2d6cmxuc2ZycGt5cW54cHp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MDE2ODIsImV4cCI6MjEwMTk3NzY4Mn0.3TacfbOpxcD7NBfXLqP6A-hpos1IFT1yzAqD8schZIM
